# VITE_API_BASE_URL=http://127.0.0.1:8000
# VITE_SUPABASE_URL=https://qnysmlbounfgqydtwhfj.supabase.co
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFueXNtbGJvdW5mZ3F5ZHR3aGZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzMzU0MjMsImV4cCI6MjA3NzkxMTQyM30.DbhNn48hIbYQz8-2Jw13wAnVY5HKalP-6At9tXZdBDg
const API_BASE_URL = import.meta.env.VITE_API_BASE_URL;